<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../imgs/la.png">
    <!-- nhúng thư viện cần dùng -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>






    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/TrangChu.css">

    
    <title>Trang Chủ</title>
</head>
<body>
    <head id="head">
        <nav class="head navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../imgs/logo.png" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse w-100 justify-content-xxl-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link menu" href="#">TRANG CHỦ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu" href="#">GIỚI THIỆU</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu" href="#">SẢN PHẨM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu" href="#">TIN TỨC</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu" href="#">LIÊN HỆ</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </head>

    <!-- banner  -->
    <section id="banner">
        <div class="single-item">
            <div class="imgbannerhome">
                <img src="../imgs/bannerHome1.png" class="w-100" alt="">
                <div class="contentBanner">
                    <div class="contenth2"><h2>TRÀ ƯỚP SEN TÂY HỒ</h1></div>
                    <div class="contenth1"><h1>Tinh hoa ẩm thực</h1></div>
                    <div><p>Sự hoà quyện tuyệt vời giữa hương thơn ngan ngát của 
                        sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương
                    </p></div>
                    <div><button class="btnHome" type="button">THỬ NGAY</button></div>
                </div>
            </div>
            <div class="imgbannerhome">
                <img src="../imgs/bannerHome1.png" class="w-100" alt="">
                <div class="contentBanner">
                    <div class="contenth2"><h2>TRÀ ƯỚP SEN TÂY HỒ</h1></div>
                    <div class="contenth1"><h1>Tinh hoa ẩm thực</h1></div>
                    <div><p>Sự hoà quyện tuyệt vời giữa hương thơn ngan ngát của 
                        sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương
                    </p></div>
                    <div><button class="btnHome" type="button">THỬ NGAY</button></div>
                </div>
            </div>
            <div class="imgbannerhome">
                <img src="../imgs/bannerHome1.png" class="w-100" alt="">
                <div class="contentBanner">
                    <div class="contenth2"><h2>TRÀ ƯỚP SEN TÂY HỒ</h1></div>
                    <div class="contenth1"><h1>Tinh hoa ẩm thực</h1></div>
                    <div><p>Sự hoà quyện tuyệt vời giữa hương thơn ngan ngát của 
                        sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương
                    </p></div>
                    <div><button class="btnHome" type="button">THỬ NGAY</button></div>
                </div>
            </div>

        </div>

    </section>

    <!-- product  -->

    <section id="product">
        <div class="neubat">
          <div class="h1spnb ">
            <h1>SẢN PHẨM NỔI BẬT</h1>
          </div>
          <div class="imgspnb w-100">
            <img src="../imgs/la.png" alt="">
          </div>
        </div>
        <div class="spnb">
          <div class="imgsp ">
            <img class="w-100" src="../imgs/spnb1.png" alt="">
            <p>TRÀ ƯỚP BÔNG SEN</p>
          </div>
          <div class="imgsp">
            <img class="w-100" src="../imgs/spnb2.png" alt="">
            <p>TRÀ ƯỚP NHỊ SEN</p>
          </div>
          <div class="imgsp">
            <img class="w-100" src="../imgs/spnb3.png" alt="">
            <p>TRÀ SHAN TUYẾT</p>
          </div>
          <div class="imgsp">
            <div></div>
            <img class="w-100" src="../imgs/spnb4.png" alt="">
            <p>TRÀ Ô LONG</p>
          </div>
          <div class="imgsp ">
            <img class="w-100 " src="../imgs/spnb1.png" alt="">
            <p>TRÀ ƯỚP BÔNG SEN</p>
          </div>
          <div class="imgsp">
            <img class="w-100" src="../imgs/spnb2.png" alt="">
            <p>TRÀ ƯỚP NHỊ SEN</p>
          </div>
          <div class="imgsp">
            <img class="w-100" src="../imgs/spnb3.png" alt="">
            <p>TRÀ SHAN TUYẾT</p>
          </div>
          <div class="imgsp">
            <img class="w-100" src="../imgs/spnb4.png" alt="">
            <p>TRÀ Ô LONG</p>
          </div>
        </div>
    </section>

    <section id="Intro" class="w-100">
      <div class="position-relative">
      <div class="contenIntro w-100"><h1>GIỚI THIỆU</h1></div>

      <div class="imgIntro ">
      <div class="ItemBackGround1">
        <img src="../imgs/Sen.png" class="w-100" alt="">
      </div>
      <div class="backgoundIntro">
        <img src="../imgs/Intro.png" class="w-100" alt="">
      </div>
    </div>
      <div class="workIntro position-absolute ">
        <div class="tsbd"><h1>Trà sen Bách Diệp</h1></div>
        <div class="mainIntro"><p>Trà ướp Sen Bách Diệp - tinh hoa văn hóa Hà Thành là 
          sự hòa quyện tuyệt vời giữa hương thơm ngan ngát của bông sen Bách diệp Hồ 
          Tây và vị đậm đà của trà Tân Cương Thái Nguyên. Qua đôi bàn tay tài hoa và bí
          quyết nghề mật truyền nhiều đời của người thợ trà Thăng Long, tạo ra thức quà
            tinh túy, kết tinh văn hóa ngàn năm Thăng Long – Hà Nội.</p></div>
            <div><button class="btnHome" type="button">THỬ NGAY</button></div>
        </div>
        <div class="sdtIntro">
          <!-- <img src="../imgs/sdtIntro.png" alt=""> -->
          <p>0963681741</p>
        </div>
      </div>
    </section>
   <section id="Athor">
      <div>
        <div class="titleAthor">
          <div><h1>NGHỆ NHÂN TRÀ ĐẠO</h1></div>
                <div class="w-100 itemAthor d-flex justify-content-center">
                  <div class="">
                    <img class="w-100" src="../imgs/Athor1.png" alt="">
                    <h3 class="w-100">Nn. Nguyễn Cao Sơn</h3>
                    <p class="w-100">
                      Nguyễn Cao Sơn được chọn làm đại 
                      diện quảng bá văn hóa Trà Việt tại
                       ngôi nhà di sản 87 Mã Mây, Hà Nội.
                    </p>
                  </div>
                  <div class="">
                    <img class="w-100" src="../imgs/Athor2.png" alt="">
                    <h3 class="w-100">Nn. Hướng Anh Sướng</h3>
                    <p class="w-100">
                      Truyền nhân đời thứ 6 của dòng trà Trường Xuân,
                       Hà Nội chia sẻ về nghệ thuật trà đạo, lĩnh vực 
                       mà anh dành hơn nửa cuộc đời nghiên cứu một sách đam mê.
                    </p>
                  </div>
                  <div class="">
                    <img class="w-100" src="../imgs/Athor3.png" alt="">
                    <h3 class="w-100">Nn. Nguyễn Thị Dần</h3>
                    <p class="w-100">Vẫn tự tay chọn hoa, tách gạo, thực hiện từng công đoạn ướp
                      trà sen. Cũng chính bởi nghiện trà, bởi yêu nghề nên cô
                      thiếu nữ Hà thành năm xưa vẫn say hương vị trà sen Tây Hồ.</p>
                  </div>
                  <div class="">
                    <img class="w-100" src="../imgs/Athor4.png" alt="">
                    <h3 class="w-100">Nn. Nguyễn Hoài Linh</h3>
                    <p class="w-100">
                      Vô địch toàn thế giới trong cuộc thi Tea Master Cup International
                       2018 về pha trà được tổ chức tại Huế
                    </p>
                  </div>
                  <div>
                    <img class="w-100" src="../imgs/Athor5.png" alt="">
                    <h3 class="w-100">Nn. Viên Trân</h3>
                    <p class="w-100">
                      Sinh ra và lớn lên trong một gia đình quý tộc phong kiến,
                       trong một môi trường mà việc uống trà và trà cực ngon, 
                       cực thượng hạng là điều không bao giờ thiếu trong nhà.
                    </p>
                  </div>
                </div>
              </div>
      </div>
    </section> 
    <section id="BuyNow">
      <div class="BuyNow">
        <div>
        <img src="../imgs/bgBuy.png" class="w-100" alt="">
      </div>
        <div class="formBuy">
          <div>
            <h1>MUA NGAY</h1>
          </div>
          <div class="formB input-group mb-3">
            <input type="text" class="formText form-control" placeholder="Số điện thoại/Email" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="formButtom btn btn-outline-secondary" type="button" id="button-addon2">Gửi</button>
          </div>
        </div>
      </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
      <div class="bgFooter">
        <img class="w-100 h-100" src="../imgs/bgFooter.png" alt="">
      </div>
      <div class="Menufooter">
        <div class="row">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card1">
              <div class="card-body">
                <h5 class="card-title"><img src="../imgs/logo.png" alt=""></h5>
                <p style="padding-top: 20px;" class="card-text">7999&#183;999&#183;999</p>
                <p class="card-text">trasenbachdiep@gmail.com</p>
                <p class="card-text">Số 12, Quảng An, Hồ Tây, Hà Nội</p>      
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card1">
              <div class="card-body">
                <h5 style="padding: 20px 0px;" class="card-title">VỀ CHÚNG TÔI</h5>
                <p class="card-text">Giới thiệu</p>
                <p class="card-text">Sản phẩm</p>
                <p class="card-text">Tin Tức</p>              
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card1">
              <div class="card-body">
                <h5 style="padding: 20px 0px;"  class="card-title">LIÊN HỆ</h5>
                <p class="card-text">
                  <i class="bi bi-youtube"></i>
                  <i class="bi bi-instagram"></i>
                  <i class="bi bi-facebook"></i>
                </p>
                <p class="card-text">Copyright &#169; 2010-2020</p>              
                <p class="card-text">Tra Sen Bach Diep. All rights reserved.</p>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

 
    <!-- nhúng thư viện js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="../js/bannerHome.js"></script>
</body>
</html>